@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.press-start-2p-regular {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}


:root {
  --header-height: 48px;

  @screen md {
    --header-height: 72px;
  }
}

html,
body {
  font-family: "Ubuntu Mono", monospace;
  font-display: swap;
  text-rendering: geometricprecision;
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @apply text-primary bg-background;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
